@use '@devprotocol/hashi';

main {
	width: calc(100% - 30px);
	margin: 0 auto;
	padding: 15px 30px;
}

section[id^='clb-'] {
	margin: 3rem 0;

	&:first-of-type {
		margin: 0 0 0.3rem;
	}

	&:last-of-type {
		margin: 0.3rem 0 0;
	}

	> h2 {
		margin-bottom: 1rem;
		border-bottom: 1px solid rgba(#fff, 90%);
		font-family: var(--hs-theme-subtitle-family);
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 2;
	}
}
