---
import '../src/styles'
---

<!DOCTYPE html>
<html class="bg-slate-100" hashi-theme="light" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<main class="bg container mx-auto my-28">
			<slot />
		</main>
	</body>
</html>
