---
import { ClubsSlotName } from '../src'
import ConnectButton from '../src/layouts/components/ConnectButton.vue'
import '../src/styles'
---

<!DOCTYPE html>
<html class="bg-slate-100" hashi-theme="light" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>

	<body>
		<span class="container mx-auto flex justify-end">
			<span class="inline-block">
				<ConnectButton client:only="vue" slot={ClubsSlotName.ConnectButton} />
			</span>
		</span>
		<main class="bg container mx-auto my-28">
			<slot />
		</main>
	</body>
</html>
