---
import CLBButton from '../../../src/ui/vue/CLBButton.vue'
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<main>
		<section id="clb-preview-select">
			<h2>Select the framework you want to preview...</h2>
			<CLBButton type="outlined" link="/vue">Vue ver.</CLBButton>
			<CLBButton type="outlined" link="/react">React ver.</CLBButton>
			<CLBButton type="outlined" link="/svelte">Svelte ver.</CLBButton>
			<CLBButton type="outlined" is-disabled>
				WebComponents ver.
			</CLBButton>
		</section>
	</main>
</DefaultLayout>
