---
import '../../../ui/webcomponents/index.mjs'
---

<!DOCTYPE html>
<html lang="en">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<main>
		<clb-input />
	</main>
</html>
