---
import { Admin } from '../../../../src/layouts'
import { adminFactory, encode } from '../../../../src/'
import example from '../../../../example/index.mjs'
import theme from '../../../../example/theme.mjs'

export const { getStaticPaths } = adminFactory({
	config: () =>
		encode({
			name: 'Debug',
			twitterHandle: '@debug',
			description: '',
			url: '',
			propertyAddress: '',
			chainId: 167,
			rpcUrl: '',
			adminRolePoints: 0,
			options: [],
			plugins: [{ name: 'theme' }, { name: 'example', options: [] }],
		}),
	plugins: { theme, example },
})

const Content = Astro.props.component

console.log(Astro.props)

console.log('props.slots', Astro.props.clubs.slots)
---

<Admin {...Astro.props}>
	<div slot="admin:sidebar:before-title"><p>Injected contents</p></div>
	<Content {...Astro.props} />
</Admin>

<script>
	import { onSubmitConfig } from '../../../../src'

	onSubmitConfig((data, onFinish) => {
		console.log('onSubmitConfig', data, onFinish)
	})
</script>
