@use './clubs.theme' as clubs;
@use '@devprotocol/hashi' with (
	$theme: clubs.$theme
);
@use '@devprotocol/hashi/hs-button' with (
	$theme: clubs.$button-theme
);
@use '@devprotocol/hashi/hs-button-group';
@use '@devprotocol/hashi/hs-form-field' with (
	$theme: clubs.$form-field-theme
);
@use '@devprotocol/hashi/hs-select-field' with (
	$theme: clubs.$select-field-theme
);
@use '@devprotocol/hashi/hs-card';
@use '@devprotocol/hashi/hs-link' with (
	$theme: clubs.$link-theme
);
@use '@devprotocol/hashi/hs-tick-field' with (
	$theme: clubs.$tick-field-theme
);
@use '@devprotocol/hashi/hs-wallet' with (
	$theme: clubs.$wallet-theme
);
@use '@devprotocol/hashi/hs-utils';
@use './clubs.variants' as clb-variants;

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=DM+Sans:wght@400;700&family=Syne:wght@500;700;800&display=swap');

@include hashi.init() {
	body {
		scrollbar-width: thin !important;
		scrollbar-color: rgba(255 255 255 / 50%) rgba(0 0 0 / 30%) !important;
	}
	@include hs-button.render();
	@include hs-button-group.render();
	// @include hs-card.render();
	@include hs-link.render();
	@include hs-form-field.render();
	@include hs-select-field.render();
	@include hs-tick-field.render();
	@include hs-wallet.render();

	.clb-tier {
		display: grid;
		justify-items: start;
		gap: hashi.primitive-token-get('padding.sm');

		.clb-tier__media {
			width: 100%;
			height: auto;
			border-radius: hashi.token-get('radius-medium');
		}

		.clb-tier__title {
			font-family: hashi.token-get('title-family');
			font-size: hashi.token-get('subtitle-size');
			font-weight: hashi.primitive-token-get('weight.bold');
			line-height: hashi.primitive-token-get('line-height.condensed');
		}

		.clb-tier__subtitle {
			font-family: hashi.token-get('subtitle-family');
			font-size: hashi.token-get('body-size');
			font-weight: hashi.primitive-token-get('weight.normal');
			line-height: hashi.primitive-token-get('line-height.condensed');
			text-transform: uppercase;
		}

		.clb-tier__actions {
			//
		}
	}

	@include clb-variants.render();

	@include hs-utils.typography(
		$include: (
			'preset',
			'family',
		)
	);
}
