@use 'sass:map';

$theme: (
	primary: 'dp-white',
	primary-dark: 'dp-black',
	accent: 'dp-blue-grey',
	accent-dark: 'dp-white',
	surface: 'dp-white',
	surface-dark: 'dp-black',
	background: 'dp-white-200',
	dark-background: 'dp-black-600',
	dark-mode: 'media',
	extend: (
		padding: (
			xs: 0.3rem,
			sm: 0.5rem,
			md: 0.7rem,
			lg: 1rem,
			xl: 1.2rem,
		),
		stroke: (
			default: 3px,
			set-accent-dark: 3,
		),
	),
);

$button-theme: (
	width: auto,
	padding: (
		'xs',
		'md',
	),
	border-width: 'stroke',
	fill: 'accent-600',
	fill-hover: 'accent-200',
	fill-active: 'accent-200',
);

$form-field-theme: (
	padding: (
		'lg',
		'xl',
	),
	border-width: 'stroke',
);

$link-theme: (
	ink: 'accent-400',
);

$select-field-theme: (
	padding: (
		'lg',
		'xl',
	),
	border-width: 'stroke',
);

$tick-field-theme: (
	radius: 'medium',
	border-width: 'stroke',
	padding: (
		'lg',
		'xl',
	),
	gap: 'lg',
);

$wallet-theme: (
	width: auto,
	fill: 'accent-200',
	fill-hover: 'accent-200',
	fill-active: 'accent-400',
);
