---
import { ClubsPropsClubsPlugin } from '../types'
import AdminSidebarGroup from './AdminSidebarGroup.astro'

const { name, enabledPlugins } = Astro.props as {
	name: string
	enabledPlugins: ClubsPropsClubsPlugin[]
}

const cache = new Set<string>()
const onlyFirstItems = enabledPlugins.filter(({ name }) =>
	cache.has(name) ? false : cache.add(name)
)
---

<h1 class="font-title text-lg font-bold">{name}</h1>
<nav class="grid gap-16">
	<AdminSidebarGroup>
		<a class="text-sm" href="/admin">Admin</a>
		<a class="text-sm" href="/admin/plugins">Plugins</a>
	</AdminSidebarGroup>

	<AdminSidebarGroup>
		{
			onlyFirstItems.map((plugin) => (
				<a class="text-sm capitalize" href={plugin.pathname}>
					{plugin.meta.displayName}
				</a>
			))
		}
	</AdminSidebarGroup>
</nav>
