---
const { href, active } = Astro.props
---

<li>
	<a
		class={`flex gap-2 p-3 -mx-3 rounded font-bold items-center transition-colors duration-500 ${
			active ? 'bg-[var(--hs-theme-disabled)]' : 'hover:bg-[var(--hs-theme-disabled)]'
		}`}
		href={href}
		><slot />
	</a>
</li>
