---
import { ClubsPropsClubsPlugin } from '../types'

const { name, enabledPlugins } = Astro.props as {
	name: string
	enabledPlugins: ClubsPropsClubsPlugin[]
}

const cache = new Set<string>()
const onlyFirstItems = enabledPlugins.filter(({ name }) =>
	cache.has(name) ? false : cache.add(name)
)
---

<h1 class="font-title text-lg font-bold mb-16">{name}</h1>
<nav class="flex flex-col">
	<a class="mb-4 text-sm" href="/admin">Admin</a>
	<a class="mb-16 text-sm" href="/admin/plugins">Plugins</a>

	{
		onlyFirstItems.map((plugin) => (
			<a class="mb-4 text-sm capitalize" href={plugin.pathname}>
				{plugin.meta.displayName}
			</a>
		))
	}
</nav>
