---
const { meta } = Astro.props as ClubsPropsAdminPages
---

<div
	class="relative aspect-[5/3] h-56 overflow-hidden rounded-lg border-[3px] border-[#5B8BF5]"
>
	<img
		role="none"
		src={meta.theme.previewImage}
		class="absolute inset-0 z-10 h-full w-full object-cover"
	/>
	<div
		role="none"
		class="absolute inset-0 z-20 bg-gradient-to-b from-black/80 to-black/30 p-8"
	>
		<h3 class="my-6 font-['Syne'] text-2xl font-bold">{meta.displayName}</h3>
	</div>
</div>
